<app-menu></app-menu>
<div class="row">
    <div class="offset-md-1  col-md-3">
            <app-sidebar></app-sidebar>
    </div>
    
         <div class="offset-md-0.5 col">
                <div class="row">
                    <div class="col-md-12"></div>
                    <a routerLink="/addUser"  class="btn btn-success offset-md-8 ">add user</a>
                    </div><br>
                     <div class="col-md-12">
                            <app-list-user></app-list-user>
                </div>
             
                
       </div>  
      
</div>
