<div class="row">
    <table class="table offset-md-1 col-md-6">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prenom</th>
                <th>telephon</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>status</th>
                <th>view</th>
                <th>edit</th>

            </tr>
        </thead>
        <tbody>
    
            <tr>
                <td scope="row">sarr</td>
                <td> Abdoulaye </td>
                <td> 774852565</td>
                <td scope="row">sarr</td>
                <td> Abdoulaye </td>
                <td> 774852565</td>
            </tr>
            <tr>
                    <td scope="row">sarr</td>
                    <td> Abdoulaye </td>
                    <td> 774852565</td>
                    <td scope="row">sarr</td>
                    <td> Abdoulaye </td>
                    <td> 774852565</td>
                </tr>
                <tr>
                        <td scope="row">sarr</td>
                        <td> Abdoulaye </td>
                        <td> 774852565</td>
                        <td scope="row">sarr</td>
                        <td> Abdoulaye </td>
                        <td> 774852565</td>
                    </tr>
                    <tr>
                            <td scope="row">sarr</td>
                            <td> Abdoulaye </td>
                            <td> 774852565</td>
                            <td scope="row">sarr</td>
                            <td> Abdoulaye </td>
                            <td> 774852565</td>
                        </tr>
                        <tr>
                                <td scope="row">sarr</td>
                                <td> Abdoulaye </td>
                                <td> 774852565</td>
                                <td scope="row">sarr</td>
                                <td> Abdoulaye </td>
                                <td> 774852565</td>
                            </tr>
                            <tr>
                                    <td scope="row">sarr</td>
                                    <td> Abdoulaye </td>
                                    <td> 774852565</td>
                                    <td scope="row">sarr</td>
                                    <td> Abdoulaye </td>
                                    <td> 774852565</td>
                                </tr>
                                <tr>
                                        <td scope="row">sarr</td>
                                        <td> Abdoulaye </td>
                                        <td> 774852565</td>
                                        <td scope="row">sarr</td>
                                        <td> Abdoulaye </td>
                                        <td> 774852565</td>
                                    </tr>
                                    <tr>
                                            <td scope="row">sarr</td>
                                            <td> Abdoulaye </td>
                                            <td> 774852565</td>
                                            <td scope="row">sarr</td>
                                            <td> Abdoulaye </td>
                                            <td> 774852565</td>
                                        </tr>
                                        <tr>
                                                <td scope="row">sarr</td>
                                                <td> Abdoulaye </td>
                                                <td> 774852565</td>
                                                <td scope="row">sarr</td>
                                                <td> Abdoulaye </td>
                                                <td> 774852565</td>
                                            </tr>
        </tbody>
    </table>
    
    </div>