.menu{
    height: 100%;
    width: 90%;
    background:#B9C4aE;
    box-shadow: 4px 4px 4px rgb(141, 151, 131);
    margin-top: -5% ;
    padding-top: 25%;
    padding-right: 12%;
}
a{
    text-decoration: none;
    font-size: 1.2em;
    font-family: initial;
}